.task-form__inputs-wrap {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 15px;
	margin-bottom: 15px;
}

.task-form__text {
	width: 100%;
	height: 80px;
	resize: none;
	box-sizing: border-box;
}

.task-form__textarea-wrap {
	margin-bottom: 10px;
}

.task-form__submit-wrap {
	display: flex;
	align-items: center;
}

.task-form__status {
	margin-left: 15px;
	font-size: 14px;
}

.task-form {
	position: relative;
}