.task-editor__text {
	width: 100%;
	box-sizing: border-box;
	resize: vertical;
	height: 100px;
}

.task-editor .task__status {
	cursor: pointer;
}

.task-editor .task__buttons-holder {
	opacity: 100;
}